.menuItem {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: black;
  transition: 0.5s;
  padding: 10px 25px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
.menuItem:hover {
  color: #a2a3a2;
  transition: 0.5s;
}